

body{
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: auto 1fr auto;
    margin: 0px;
    column-gap: 0px;
    row-gap: 0px;
    background-color: black;
    padding: none;
}
#main1{
    background-color: rgb(21, 20, 20);
    height: 100vh;
    width: 15vw;
    min-width: 180px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 6;
    margin: none;
    padding: none;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 5px rgb(16, 16, 16);

}

#main2{
    padding-top: 10px;
    background-color: rgb(41, 43, 43);
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 1;
    margin: 0px;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    flex:1 1 auto;
    position: relative;
    box-shadow: 0px 2px 10px black;

    
}
.main2p5{
    width: 100%;
    margin-top: 7px;
    margin-left: 50px;
    display: flex;
    flex-direction: row;
    flex:1 1 auto;
    align-items:flex-start;

}

.h4{
    flex:1 1 auto;
    position: absolute;
    left: 60%;
    display: flex;
    align-items: end;
    padding-left: 10vw;
}
    
#area{
    resize: none;
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 7px;
    padding-left: 10px;
    font-size: 15px;
    border-radius: 20px;
    width: 50%;
    height: 1.5em;
    margin-left: 5px;
    
}

#main3{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
    background-color: rgb(96, 97, 96);
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    justify-content:baseline;
    overflow: hidden;
    box-shadow: 0px 2px 5px black;

}
#holder{

    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 80%;

}

#contents{
    height: 100%;
    min-height: 500px;
    min-width: 800px;
    margin-left: 50px;
    display: grid;
    resize: none;
    grid-template-columns: 22% 22% 22%;
    grid-template-rows: 22% 22% 22%;
    column-gap: clamp(80px,11%,50%);
    row-gap: clamp(10vh,20%,6vw);
   

}

#holder p{
    margin-left: 50px;
    margin-bottom: 50px;
    height: .5em;
    font-size: 25px;
    color: font;
}
#contents .contents{
    background-color: aliceblue;
    width: clamp(160px, 20vw, 650px);
    height: clamp(25vh, 80vw, 50%);
    border: 2px solid rgb(32, 32, 32);
    border-radius: 17px;
    box-shadow: 0px 2px 5px black;
    background-color: rgb(249, 249, 249);
    display: flex;
    align-items:end;
    flex-direction: column;
    position: relative;
    box-sizing: border;
    text-overflow:ellipsis
}


.sides{
    width: 70%;
    height: 89%;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 27, 28);
    padding: none;
    background-color: rgb(96, 97, 96);
    flex: 1 1 auto;

    

}
#box2{
    background-color: rgb(255, 255, 255);
    height: 34%;
    width: 48%;
    border-radius: 12px;
    margin: 0;
    border: 1px solid rgb(24, 23, 23);
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    flex: 1 1 auto;
    box-shadow: 0px 2px 5px black;


}

#box3{
    background-color: rgb(255, 255, 255);
    width: 50%;
    border-radius: 12px;
    margin: 0;
    border: 1px solid rgb(7, 7, 7);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 2px 5px black;
}
